@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-header-height: --spacing(16);
}

html,
body {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
}

.number-column,
.comma-column {
  position: relative;
  height: 1.25em;
  transition: width var(--digit-duration) var(--ease-out-expo);
  overflow: hidden;
}

.number-column {
  width: 0.6em;
  height: 1.25em;
  overflow: hidden;
}

.comma-column {
  width: 0.35em;
  text-align: center;
}

.digit-cell {
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant-numeric: tabular-nums;
  padding: 0;
  margin: 0;
}

.number-scroll {
  transform: translate3d(0, 0, 0);
  will-change: transform;
  transition-property: transform;
  transition-timing-function: var(--ease-out-expo);
}

.digit-enter-from {
  opacity: 0;
  width: 0;
  transform: scale(0.5);
}

.digit-leave-to {
  opacity: 0;
  width: 0;
  transform: translateY(0.5em);
}

.digit-leave-active {
  position: absolute;
  transition: all var(--digit-duration) var(--ease-out-expo);
}

.digit-enter-active {
  transition: all var(--digit-duration) var(--ease-out-expo);
}

.digit-move {
  transition: transform var(--digit-duration) var(--ease-out-expo);
}
